body {
	padding-left: 5%;
	padding-right: 5%;
 	padding-bottom: 20px;
}
img {
	max-width: 100%;
}
.header { 
	text-align: center;
	position: relative;
}
.head {
	position: absolute;
	width: 100%;
	font-style: italic;
}
.top-img {
	margin-top: 5%;
}
.main {
}

.left {
	padding-bottom: 20px;

}
.news {
    margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
	padding-bottom: 2px;
	background-color: #F2F2F2;
	border-radius: 5px;
}
.adm {
	float: right;
}
.right {
	padding-top: 20px;
}
.logedIn {
    margin-left: auto;
}
button {
	padding-top: 10px;
	vertical-align: middle;
}
li:hover {
	background-color: #A9E2F3;
	border-radius: 2px;
}
.time {
	font-size: 12px;
}
.userImg {
	width: 20%;
}
.loginImg {
    width: 50%;
    padding-bottom: 5px;
}
.albums {
    width: auto;
	padding: 10px;
    background-color: #F2F2F2;
    border-radius: 5px;
}
.photoRow {
    margin-top: 5px;
    margin-bottom: 10px;
}