body {
	padding-left: 5%;
	padding-right: 5%;
 	padding-bottom: 20px;
}
.top {
    text-align: center;
}
img {
	max-width: 100%;
}
.left {
	padding-bottom: 20px;
}
.home,
.news,
.albums {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
	padding-bottom: 2px;
	background-color: #F2F2F2;
	border-radius: 5px;
    box-sizing: border-box;
}
.news:hover,
.albums:hover{
	border: solid lightskyblue 1px;
	box-shadow: 0 0 10px lightskyblue;
}
.albums {
	text-align: center;
	height: 250px;
}
.adm {
	float: right;
}
.right {
	margin-top: 20px;
}
.logedIn {
    margin-left: auto;
}
button {
	padding-top: 10px;
	vertical-align: middle;
}
li:hover {
	background-color: lightskyblue;
	border-radius: 2px;
}
.time {
	font-size: 12px;
}
li .active {
     color: blue;
     background-color: blue !important;
     border-radius: 2px;
 }
.userImg {
	width: 150px;
}
.loginImg {
    width: 150px;
    padding-bottom: 5px;
}

.photoRow {
    margin-top: 5px;
    margin-bottom: 10px;
}
.addPhoto{
	border: solid 1px lightskyblue;
}
.albums a img {
	max-height: 200px;
	width: auto;
}
#map {
	width: 600px;
	height: 400px;
	border: solid 3px lightblue;
}
a {
    text-decoration: inherit;
    color: inherit;
}
a:hover {
    text-decoration: none;
}
