<% layout('layout/page');
    block('barNews', 'active');
    block("title" , "Додати новину") %>

<div class="row main">
    <div class="left col-md-9 editing">
        <h3>Додати новину</h3>
        <% include layout/news-form %>
        <div class="form-group">
            <button type="button" class="btn btn-default add">Опублікувати</button>
        </div>
    </div>