<% layout('layout/page');
    block('barPhotos', 'active');
    block("title" , "Додати альбом") %>


<div class="row main">
    <div class="left col-md-9 editing">
        <h3>Додати альбом</h3>
        <% include layout/albums-form %>
        <div class="form-group">
            <button type="button" class="btn btn-default addAlbum">Додати</button>
        </div>
    </div>