<% layout('layout/page') -%>

<div class="row main">
    <div class="left col-md-9 news">
        <h3>Редактор новин</h3>
        <% include layout/news-form %>
        <div class="form-group">
            <button type="button" class="btn btn-default edit">Опублікувати</button>
        </div>
    </div>