<% layout('layout/page') -%>

<div class="row main">
    <div class="left col-md-9 news">
        <h3>Редагувати головну сторінку</h3>
        <div class="form-group">
            <div id="summernote" class="summernote form-control" ><%- main[0]%></div>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-default editmain">Опублікувати</button>
        </div>
    </div>