<% layout('layout/page') -%>
<% block('barNews', 'active') -%>

<div class="row main">
    <div class="left col-md-9">
        <h3>Золоті рибки</h3>
        <p>Ось так у нашому міні-садочку "завелися" золоті рибки ))
            Шкода тільки, що ненадовго, бо в той же день всі порозпливалися по своїх нових домівках)</p>
        <img src="https://scontent-otp1-1.xx.fbcdn.net/v/t1.0-0/p320x320/14463116_971612606300000_4785781855026794341_n.jpg?oh=efe86d498a6e405ac59c51ee7754a03f&oe=586310B1">
        <h3>Свято Покрови</h3>
        <p>Вітаємо всіх зі святом Покрова та святом захисника України!
            І вчора на занятті з малювання ми знайомились із традиціями українського козацтва - адже козаки були захисниками України! Ми поговорили про те, яка роль козаків, якій традиційний одяг та зброю вийшлиони носили. В нас вийшли гарні мужні чоловіки!</p>
        <img src="https://scontent-otp1-1.xx.fbcdn.net/v/t1.0-9/14732251_987576891370238_8226393734816118408_n.jpg?oh=bdbf076da32e951eac054afb4fb012a1&oe=586952EE">
    </div>