<%layout('layout/page') -%>
<%block('barUsers', 'active') -%>

<div class="row main">
    <table class="table">
        <tbody class="table-hover table-condensed table-striped">
            
        </tbody>
    </table>
</div>