<form>
    <div class="form-group">
        <p>Підпис</p>
        <div class="summernote form-control"><% if(albums != undefined){%><%- albums[0].title%><%}%></div>
    </div>
    <div class="form-group">
        <p>Фото</p>
        <div class="summernote form-control" ><% if(albums != undefined){%><%- albums[0].photo%><%}%></div>
    </div>
</form>