
<% if (!user) { %>
<div class="right col-md-3">
    <div class="login">
        <form class="form-horizontal login-form" role="form" method="post">
            <div class="form-group form-group-sm">
                <label for="login" class="col-sm-3 control-label">E-mail</label>
                <div class="col-sm-9">
                    <input name="mail" type="text" class="form-control" placeholder="E-mail">
                </div>
                <div class="errMail hidden">
                    <p>Ваша пошта невірна</p>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label for="password" class="col-sm-3 control-label">Пароль</label>
                <div class="col-sm-9">
                    <input name="password" type="password" class="form-control" placeholder="Пароль">
                </div>
                <div>
                    <p class="errPass hidden">Ваш пароль невірний</p>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <div class="col-sm-offset-3 col-sm-9">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">Запам'ятати мене
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <div class="col-sm-offset-3 col-sm-9">
                    <div class="checkbox">
                        <a href="/registration">Зареєструватися</a>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-default" name="login">Вхід</button>
                </div>
            </div>
        </form>
    </div>
</div>
<% } else { %>
<div class="right col-md-3">
    <div class="login">
        <form class="form-horizontal login-form" role="form" method="post">
            <p>Ви увійшли як <%= user %>.</p>
            <div class="form-group form-group-sm">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-default" name="login">Вихід</button>
                </div>
            </div>
         </form>
    </div>
</div>
<% } %>