<div class="col-md-3 right">
    <div class="row login logedOut <% if(user) {%> hidden <% } %>">
        <form class="form-horizontal logIn" action="" role="form" method="post">
            <div class="form-group form-group-sm">
                <label for="mail" class="col-sm-3 control-label">E-mail</label>
                <div class="col-sm-9">
                    <input id="mail" type="email" class="form-control" placeholder="E-mail">
                </div>
                <p class="noMail hidden col-sm-offset-3">
                    Введіть пошту
                </p>
                <p class="errMail hidden col-sm-offset-3">
                    Ваша пошта, або пароль невірний
                </p>
            </div>
            <div class="form-group form-group-sm">
                <label for="password" class="col-sm-3 control-label">Пароль</label>
                <div class="col-sm-9">
                    <input id="password" type="password" class="form-control" placeholder="Пароль">
                </div>
                <p class="noPass hidden col-sm-offset-3">
                    Введіть пароль
                </p>
            </div>
            <div class="form-group form-group-sm">
                <div class="col-sm-offset-3 col-sm-9">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">Запам'ятати мене
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group form-group-sm">
                <div class="col-sm-offset-3 col-sm-9">
                    <div class="checkbox">
                        <a href="/registration">Зареєструватися</a>
                    </div>
                </div>
            </div>

            <div class="form-group form-group-sm">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-default">Вхід</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row logedIn <% if(!user) {%> hidden <% } %>">
        <p>Ви увійшли як <span class="logedOut"><%= user %></span><span id="user"></span>.</p>
        <span class="logedOut">
            <img class="img-responsive img-rounded loginImg logedOut" src="<%- image %>">
        </span>
        <span id="img"></span>
        <div class="form-group form-group-sm">
            <button type="button" class="btn btn-default logOut-btn">Вихід</button>
        </div>
    </div>
</div>

