<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <title>Петрик</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row top">
            
                <div class="header">
                    <h2>Клуб гармонійного розвитку дитини</h2>
                    <h1>"Петрик"</h1>
                </div>
                <nav class="navbar navbar-default" role="navigation">              
                        <div class="navbar-header">
 -                          <a class="navbar-brand" href="/">Петрик</a>
 -                      </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class="<%=blocks.barMain%>"><a href="/">Домашня</a></li>
                                <li class="<%=blocks.barNews%>"><a href="/news">Новини</a></li>
                                <li><a href="#">Контакти</a></li>
                                <li><a href="#">Розклад занять</a></li>
                                <li><a href="#">Фотогалерея</a></li>
                                <li><a href="#">Контакти</a></li>
                            </ul>
                            <div class="nav navbar-nav navbar-right">
                                <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#message" data-whatever="artlenca@gmail.com">Написати нам</button>
                            </div>
                        </div><!--/.nav-collapse -->
              
                </nav>
            </div>

            <%-body -%>
            <% include login %>

            </div>
            <div class="footer">
            </div>
        </div>

        <div class="modal fade" id="message" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Закрити</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Пишіть нам</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <label for="recipient-name" class="control-label">Отримувач:</label>
                                <input type="text" class="form-control" id="recipient-name">
                            </div>
                            <div class="form-group">
                                <label for="phone" class="control-label">Ваш телефон</label>
                                <input type="phone" class="form-control" id="phone" value="+380">
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="control-label">Повідомлення:</label>
                                <textarea class="form-control" id="message-text"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                        <button type="button" class="btn btn-primary">Відправити повідомлення</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="/js/script.js"></script>
        <script src="/js/login.js"></script>
    </body>
</html>
